<!-- {{cat2Product | json}} -->

<h3>Kiemelt Termékeink</h3>
<h3>

    <app-product-list [products]="featuredProduct"></app-product-list>
</h3>

<h3>
    Minden termékünk

</h3>
<h3>

    <app-product-list [products]="allProducts"></app-product-list>
</h3>


<!-- {{allProducts | json}}
 -->
<!-- <h3>
    <p>akcios termekek veletlen sorrendbn</p>
</h3>
{{saleProduct | json}}

<h3>
    <p>cat1 termekek veletlen sorrendbn</p>
</h3>
{{cat1Product | json}}

<h3>
    <p>cat2 termekek veletlen sorrendbn</p>
</h3> -->